@font-face {
  font-family: "Sansation-Bold";
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/sansation.Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Sansation-Regular";
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/sansation.Regular.ttf') format('truetype');
}