@font-face {
	font-family: "sf-pro-regular";
	font-style: normal;
	src: url("./fonts/SF Pro Display Regular.ttf") format("truetype");
}

body {
	font-family: "sf-pro-regular";
}
h1 {
	font-size: 40px !important;
	margin-bottom: 8px;
}
.text-align-left {
	text-align: left;
}
.space {
	background-color: #005fbd !important;
}

.innter-form-section {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	height: 100vh;
}
